################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OMSCore/FileContentIndex/f3273992-57ac-4bb7-b3a2-df6794f47394.vsidx
